* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    /* max-width: 1200px; */
}

h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Roboto', sans-serif;
}

aside {
    width: 200px;
    height: 100vh;
    background-color: black;
    position: fixed;
    left: 0;
    z-index: 2;
}

header {
    width: 100%;
    /* height: 1060px; */
    background-color: #141922;
}

nav {
    width: 100%;
    /* height: 80px; */
    background-color: #141922;
    /* background-color: aquamarine; */
    position: fixed;
    top: 0;
    z-index: 1;
}

main {
    background-color: #141922;
    height: 100vh;
    overflow-y: scroll;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

/* BORDERS DA CANCELLARE */
.b-w {
    border: 1px solid white;
}

.b-b{
    border: 1px solid black;
}

/* ASIDE */
aside p {
    color: #a3a3a3;
    font-weight: bold;
    font-size: 15px;
}

aside i {
    color: #a3a3a3;
    font-size: 25px;
    padding: 5px 10px 0 15px;
    float: left;
}

.logo {
    width: 100%;
    height: 80px;
    line-height: 100px;
}

.aside-menu {
    width: 100%;
    height: 120px;
}

.border-g {
    border-left: 2px solid #adff2f;
}

.active {
    color: white;
}

.playlist {
    width: 100%;
    height: 300px;
}

aside img {
    width: 120px;
    padding-left: 15px;
}

.aside-box {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.search-p {
    padding-right: 13px;
}

.aside-playlist {
    text-transform: uppercase;
    color: white;
}

.aside-ml {
    padding-left: 15px;
}

/* HEADER */
nav p {
    color: #6e7176;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.nav-menu {
    width: 60%;
    height: 80px;
    margin-left: calc(20% + 200px / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-box {
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-active::after {
    content:'';
    width: 40px;
    height: 2px;
    background-color: #adff2f;
    position: absolute;
    bottom: 6%;
    left: 32%;
    border-radius: 10px;
}

/* MAIN */
/* DA CANCELLARE */
main p {
    color: #6e7176;
    font-size: 15px;
}

main h3 {
    color: white;
}

main h5 {
    color: white;
    text-transform: capitalize;
    padding-top: 15px;
}

.playlist-main {
    width: calc(100% - 200px);
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 200px;
}

.main-box {
    width: 100%;
    /* height: 300px; */
}

.box-title {
    width: 100%;
    height: 50px;
    padding-left: 20px;
}

.box-title p {
    line-height: 25px;
}

.list {
    width: 100%;
    /* height: 250px; */
    display: flex;
    flex-wrap: wrap;
}

.list-box {
    width: 150px;
    height: 250px;
    margin-left: 20px;
    padding-top: 20px;
}

.pic {
    width: 150px;
    height: 150px;
    position: relative;
}

.h-icon-box {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.pic:hover {
    filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5);
    /* display: inline; */
}

.pic-1 {
    background-image: url("https://spettacolo.periodicodaily.com/wp-content/uploads/2019/12/led-zeppelin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.pic-2 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/The_Doors_1968.JPG/1200px-The_Doors_1968.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;


}
.pic-3 {
    background-image: url("https://www.ilgiradischi.com/wp-content/uploads/2019/02/Moon-600x600.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.pic-4 {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/81ZCBWAPbiL._AC_SL1300_.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.pic-5 {
    background-image: url("https://www.ilfriuli.it/writable/images/andre-old_Thumb_HighlightCenter214428.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;


}
.pic-6 {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/815LGpEtiwL._AC_SL1400_.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.titles {
    width: 100%;
    height: 80px;
    text-align: center;
}

/* PLAYER */
footer p {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.played {
    width: 20%;
    height: 80px;
    float: left;
}

.rep {
    width: 30%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.album {
    width: 40px;
    height: 40px;
    background: url("https://www.emp-online.it/dw/image/v2/BBQV_PRD/on/demandware.static/-/Sites-master-emp/default/dwb6e926d3/images/3/0/9/8/309886.jpg?sw=1000&sh=800&sm=fit&sfrm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}

.names {
    width: 40%;
    height: 80px;
    float: left;
}

.title-margin {
    margin-top: 25px;
}

.pref-icons {
    width: 30%;
    height: 80px;
    float: left;
    display: flex;
    align-items: center;
}

footer i {
    color: white;
    font-size: 20px;
    margin-right: 15px;
}

.player {
    width: 60%;
    height: 80px;
    float: left;
}

.player-box {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-player {
    font-size: 30px;
}

.cmd {
    font-size: 15px;
}

.volume {
    width: 20%;
    height: 80px;
    float: right;
    display: flex;
    align-items: center;
}

.progress {
    width: 300px;
    height: 4px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(115,111,110,1) 31%);
    margin: 0 15px;
}

.vol-up {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(115,111,110,1) 31%);
    width: 110px;
    height: 4px;
}
