* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* .container {
    max-width: 1200px;
} */

h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Roboto', sans-serif;
}

aside {
    width: 200px;
    height: 100vh;
    background-color: black;
    position: fixed;
    left: 0;
    z-index: 3;
}

header {
    width: 100%;
    /* height: 1060px; */
    background-color: #141922;
}

nav {
    width: 100%;
    /* height: 80px; */
    background-color: #141922;
    /* background-color: aquamarine; */
    position: fixed;
    top: 0;
    z-index: 2;
}

main {
    background-color: #141922;
    height: 100vh;
    overflow-y: scroll;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    z-index: 4;
}

/* BORDERS DA CANCELLARE */
.b-w {
    border: 1px solid white;
}

.b-b{
    border: 1px solid black;
}

/* ASIDE */
aside p {
    color: #a3a3a3;
    font-weight: bold;
    font-size: 15px;
}

aside i {
    color: #a3a3a3;
    font-size: 25px;
    padding: 5px 10px 0 15px;
    float: left;
}

.logo {
    width: 100%;
    height: 80px;
    line-height: 100px;
}

.logo-responsive {
    display: none;
}

.aside-menu {
    width: 100%;
    height: 120px;
}

.border-g {
    border-left: 2px solid #adff2f;
}

.active {
    color: white;
}

.playlist {
    width: 100%;
    height: 300px;
}

.user {
    width: 100%;
    /* position: relative; */
}

.install {
    width: 100%;
    height: 40px;
    padding-top: 12px;
    /* line-height: 40px; */

    /* display: flex;
    justify-content: flex-start;
    align-items: baseline; */
}

.install i, .install p {
    font-size: 12px;
    /* padding-left: 0; */
}

.mp {
    margin: 0; padding: 0;
}

.pad {
    padding-left: 20px;
}

.center-install {
    width: 80%;
    margin: 0 auto;
}

.brd-b {
    border-bottom: 1px solid #a3a3a3;
    width: 80%;
    margin: 0 auto;
}

aside img {
    width: 120px;
    padding-left: 15px;
}

.aside-box {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.search-p {
    padding-right: 13px;
}

.aside-playlist {
    text-transform: uppercase;
    color: white;
}

.aside-ml {
    padding-left: 15px;
}

/* HEADER */
nav p {
    color: #6e7176;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}

.nav-menu {
    width: 60%;
    height: 80px;
    margin-left: calc(20% + 200px / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-box {
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-active::after {
    content:'';
    width: 40px;
    height: 2px;
    background-color: #adff2f;
    position: absolute;
    bottom: 6%;
    left: 32%;
    border-radius: 10px;
}

.hamburger {
    width: 15%;
    height: 80px;
    float: right;
    display: none;
}

.menu-color {
    color: #6e7176;
    font-size: 40px;
    line-height: 80px;
}

.appear {
    width: 200px;
    height: 240px;
    display: none;
    position: absolute;
    right: 50px;
    background-color: #141922;
    text-transform: uppercase;
    border: 1px solid #6e7176;
}

ul li {
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border-bottom: 1px solid #6e7176;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* MAIN */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #141922;
}

::-webkit-scrollbar-thumb {
  background: #5d5f64;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5d5f64;
}

main p {
    color: #6e7176;
    font-size: 15px;
}

main h3 {
    color: white;
}

main h5 {
    color: white;
    text-transform: capitalize;
    padding-top: 15px;
}

.playlist-main {
    width: calc(100% - 200px);
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 200px;
}

.main-box {
    width: 100%;
    /* height: 300px; */
}

.box-title {
    width: 100%;
    height: 50px;
    padding-left: 20px;
}

.box-title p {
    line-height: 25px;
}

.list {
    width: 100%;
    /* height: 250px; */
    display: flex;
    flex-wrap: wrap;
}

.list-box {
    width: 150px;
    height: 250px;
    margin-left: 20px;
    padding-top: 20px;
}

.pic {
    width: 150px;
    height: 150px;
    position: relative;
}

.h-icon-box {
    width: 150px;
    height: 150px;
    font-size: 50px;
    color: white;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.h-icon-box-2 {
    width: 150px;
    height: 150px;
    font-size: 50px;
    color: white;
    position: relative;
    z-index: 1;
}

.hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

.pic:hover img {
    filter: blur(2px);
}

.pic:hover .overlay {
    display: block;
}

.border-r {
    border-radius: 50%;
}

.pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.titles {
    width: 100%;
    height: 80px;
    text-align: center;
}

/* PLAYER */
footer p {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.played {
    width: 20%;
    height: 80px;
    float: left;
}

.rep {
    width: 30%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.album {
    width: 40px;
    height: 40px;
    float: left;
}

.album img {
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.names {
    width: 40%;
    height: 80px;
    float: left;
}

.title-margin {
    margin-top: 25px;
}

.pref-icons {
    width: 30%;
    height: 80px;
    float: left;
    display: flex;
    align-items: center;
}

footer i {
    color: white;
    font-size: 20px;
    margin-right: 15px;
}

.player {
    width: 60%;
    height: 80px;
    float: left;
}

.player-box {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-player {
    font-size: 30px;
}

.cmd {
    font-size: 15px;
}

.volume {
    width: 20%;
    height: 80px;
    float: right;
    display: flex;
    align-items: center;
}

.progress {
    width: 300px;
    height: 4px;
    margin: 0 15px;
}

.vol-up {
    width: 110px;
    height: 4px;
}

.gradient {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(115,111,110,1) 31%);
}


@media screen and (max-width: 1199px) {
    .vol-up {
        width: 60px
    }
}

@media screen and (max-width: 991px) {
    .nav-menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .menu-color:hover .appear {
        display: block;
    }

    .player {
        width: 40%;
    }

    .progress {
        width: 200px;
    }

    .played,
    .volume {
        width: 30%;
    }

    .vol-up {
        width: 60px
    }
}

@media screen and (max-width: 786px) {
    footer i {
        font-size: 15px;
        margin-right: 10px;
    }

    .progress {
        width: 100px;
    }

    .pref-icons {
        width: 20%;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    footer .names p {
        font-size: 10px;
        font-weight: normal;
    }

    .pref-icons {
        width: 25%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
}

@media screen and (max-width: 500px) {
    footer i {
        font-size: 13px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 479px) {
    .logo img {
        display: none;
    }

    .logo-responsive {
        display: inline-block;
        color: white;
        font-size: 30px;
        line-height: 80px;
        margin: 0;
        padding-left: 10px;
    }

    .aside-box p {
        display: none;
    }

    .aside-box i {
        font-size: 20px;
        margin: 0 auto;
    }

    .fa-plus-square {
        display: none;
    }

    .user p {
        display: none;
    }

    .brd-b {
        border-bottom: 0px solid black;
    }

    .install {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    aside {
        width: 50px;
    }

    .playlist-main {
        width: calc(100% - 50px);
        padding-top: 80px;
        padding-bottom: 80px;
        margin-left: 50px;
    }

    footer p {
        display: none;
    }

    .rep {
        width: 50%;
    }

    .names {
        width: 0%;
    }

    .pref-icons {
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .vol-up {
        display: none;
    }

    .volume {
        justify-content: center;
        align-items: center;
    }
}
